{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About the PMA2020 API</h1>
</div>
<p class="lead">A backend to power the future of PMA2020 data infrastructure.</p>
<p>The PMA2020 API is built to power public facing and internal applications, as well as various aspects of IT and data
infrastructure.</p>
<p>With it, we hope to achieve new frontiers in data analysis, visualization, and dissemination in family planning data,
to build a better tomorrow for our children and the world.</p>

{% endblock %}
